/* Media query for devices with max-width 768px (typical tablets) */
@media only screen and (max-width: 950px) {
    .hero {
        padding: 0 30px;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        font-size: 14px;
    }

    .hero-img img {
        width: 75%;
    }

    .hero-btn {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-btn button {
        padding: 15px 25px;
        font-size: 14px;
    }

    .hero-footer {

        padding-top: 0px;
    }

    .section-heading {
        padding: 0 50px;
    }

    .section-heading .content {
        width: 100%;
    }

    .section-heading .quote-box {
        width: 100%;
    }

    .value-props {
        padding: 0 50px;
    }

    .value-props .props {
        width: 100%;
    }

    .choose-us {
        padding: 0 50px;
    }

    .recived {
        width: 100%;
    }
    .choose {
        width: 100%;
        margin-bottom: 10%;
    }
    .balance {
        width: 100%;  
    }
    .balance img:first-child {
        bottom: -40%;
        left: -10%;
    }
    .balance img:nth-child(2) {
        top: 0;
        right: 10%;
        height: 100%;
    }
    .features .box {
        width: 40%;
    }
    .boxes {
        flex-direction: row;
    }
    .box-1 {
        width: 40%;
        
    }
    .testimonials .quote {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: start;
        padding: 30px 20px;
        background-color: #FFFFFF;
        border-radius: 10px;
        position: relative;
    }

    .blog .practices .practice-full {
    
        justify-content: center;
       
    }
    .blog .practice-box .practice {
        width: 100%;
       
    }
    .banner {
       display: none;

    }
  
    .bigbanner{
        padding: 0 50px;
    
    }


}

/* Media query for devices with max-width 480px (typical smartphones) */
@media only screen and (max-width: 480px) {

    .navbar {
        padding: 20 10px;
        right: 100%;
    }

    .nav-items ul li a {
        flex-direction: column;
        display: none;
    }

    .nav-btn {
        flex-direction: column;
        display: none;
    }

    .hamburger {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .nav-link {}


    .hero {
        padding: 0 10px;
    }

    .hero-content h1 {
        font-size: 20px;
    }

    .hero-content p {
        font-size: 10px;
    }

    .hero-img img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
        margin: 0;
    }

    .hero-btn button {
        padding: 5px;
        border-radius: 20px;
    }

    .hero-footer i {
        font-size: 30px;
    }
    .hero .img-dot-2 {
        position: absolute;
        top: 50px;
        right:-10px;
    }
    .hero .dot-img {
        position: absolute;
        bottom: -50%;
        right: 0;
    }


    .companies {
        font-size: 16px;
        line-height: 22px;
    }


    .section-heading {
        padding: 0 20px;
    }

    .section-heading .content {
        width: 100%;
    }

    .section-heading .quote-box {
        width: 100%;
    }

    .value-props {
        padding: 0 10px;
    }

    .value-props .props {
        width: 100%;
    }

    .choose-us {
        padding: 0 10px;
     
    }
    .recived {
        width: 100%;
        
    }
    .choose {
        width: 100%;
        margin-bottom:40%;
    }
    .balance {
        margin: 20% 0;
        width: 100%;
      
    }
    .balance img:first-child {
        z-index: 1;
        position: absolute;
        bottom: -50%;
        left: -30%;
    }
    .features {
        margin-top: 5%;
        padding:  10px;
    }
    .features .box {
        width: 100%;
    }

    .box-1 {
        width: 100%;
    }

    .testimonial {
        padding: 0px 10px;
        width: 100%;
    }
    .testimonials .quote {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    .testimonial .quote .person {
        width: 100%;
        object-fit: contain;
        height: 400px;
    }
    .content {
        flex-direction: column;
    }
    .testimonial .quote:last-child {
        margin-left: 0;
        margin-top: 10%;
    }
    .banner {
        display: none;
    }
    
    .blog {
        padding: 0 10px;
        margin-bottom: 10%;
    }
    .blog .practices .practice-full img {
        width: 100%;
    }
    .blog .practice-box .practice {
        width: 100%;
    }
    .faq {
        padding: 0 10px;
        width: 100%;
    }
    .faq h1 {
        font-size: 54px;
        
    }
    .faq .faq-box {
        flex-direction: column;
        gap: 10px;
    }
    .faq .faq-box .questions {
        width: 100%; 
    }
    .faq .faq-box .questions .question p {
        width:100%;
    }
    .faq .faq-box .contact {
        width: 100%;
        text-align: center;
    }
    .recived-box:nth-child(3) {
        margin-left: 10%;
    }
    .recived-box:nth-child(4) {
       
        margin-left: 10%;
  
    }
    .testimonial .content div {
        width: 100%;
    }

    .bigbanner {
        padding: 0 10px;
    }
    .bigbanner .content h1 {
        font-size: 38px;
    }
    .bigbanner img:nth-child(4) {
   
        top: 50%;
        left: 0;
    }
    .bigbanner img:nth-child(2) {
    
        top: 70%;
        left: 60%;
    }
    footer {
        padding: 0px 10px;
        width: 100%;
        flex-direction: column;
        
    }   
    footer .row {
        width: 100%;
    }


 
    
   
   
}