@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
   
}

body {
    background-color: #FAFBFF;
 
}




/* navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    line-height: 19.12px;
    background-image: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);
   width: 100%;
}

.nav-items ul li {
    list-style: none;
    display: inline-block;
    inset-block: 19px;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;

}

.nav-items ul li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn button {
    border: none;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

.nav-btn .signin {
    padding: 10px 20px;
    background: transparent;
}

.active-btn {
    background-color: #4F46BA;
    color: #fff;
    padding: 10px 20px;
}

/* navbar end */

/* hero section */
.hero {
    background-image: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 100px;
}
.hero-content {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.hero-content h1 {
    font-size: 60px;
    font-weight: 800;
    color: #000000;
    margin-bottom: 22px;
}

.hero-content p {
    color: #64607D;
    margin-bottom: 56px;
}

.hero-img img {
    height: 100%;
    margin-left: 10%;
    width: 65%;
    object-fit: cover;
}

.hero-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.hero-btn button {
    padding: 20px 30px;
    background: #4F46BA;
    color: #fff;
    border: none;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    line-height: 30px;
}

.hero-btn div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-footer i {
    color: #3734A9;
}

.hero-footer {
    color: #757095;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 30px;
}

/* Hero End */

/* companies */
.companies {
    background-color: #F5F6F8;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30.05px;
   
    
}

.companies .company-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* companies end */

/* section-heading start */
.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 0 100px;
}

.section-heading .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 646px;

}

.section-heading .content h1 {
    font-size: 56px;
}

.section-heading .content p {
    font-size: 16px;
}

.section-heading .comment {
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
    justify-content: start ;
    align-items: start;
    gap: 20px;
    width: 402px;
    height: 100%;
    border-radius: 10px;
    padding: 30px 10px;
    font-size:15px;  
    Line-height :22px;
}
/* section-heading end */

/* value-props start */
.value-props {
    padding: 0 100px;
    height: auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}


.value-props .props{
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBE4E9;
    padding: 50px;
}



.props h2{
  font-size: 22px;
  font-weight: 800;
  align-self: flex-start;
}

.props p{
   color : #757095;
}





/* Media query for devices with max-width 768px (typical tablets) */
@media only screen and (max-width: 950px) {
    .hero {
        padding: 0 30px;
    }
  
    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        font-size: 14px;
    }

    .hero-img img {
        width: 75%;
    }
    .hero-btn {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-btn button {
        padding: 15px 25px;
        font-size: 14px;
    }

    .hero-footer {
       
        padding-top: 0px;
    }
    .section-heading {
        padding: 0 50px;
    }

    .section-heading .content {
        width: 100%;
    }

    .section-heading .comment {
        width: 100%;
    }

    .value-props{
        padding: 0 50px;
    }
    .value-props .props{
        width: 100%;
    }
   
  

}

/* Media query for devices with max-width 480px (typical smartphones) */
@media only screen and (max-width: 480px) {
  
    .hero {
        padding: 0 10px;
    }

    .hero-content h1 {
        font-size: 20px;
    }

    .hero-content p {
        font-size: 10px;
    }

    .hero-img img {
       width: 100%;
       height: fit-content;
       object-fit: cover;
       margin: 0;
    }

    .hero-btn button {
        padding:  5px;
        border-radius: 20px;  
    }
    .hero-footer i {
        font-size: 30px;
    }


    .companies {
        font-size: 16px;
        line-height: 22px;
    }


    .section-heading {
        padding: 0 20px;
    }

    .section-heading .content {
        width: 100%;
    }

    .section-heading .comment {
        width: 100%;
    }
    .value-props{
        padding: 0 10px;
    }
    .value-props .props{
        width: 100%;
    }
}